{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h3 class="icon_32_before icon_32_next"> Liste des factures</h3>

    <a href="{{ path('facture_new') }}" class="btn btn-success"><span class="icon_16 icon_16_plus"></span>Nouvelle facture</a>
    
    <div class="filters">
        <form class="form-horizontal" action="{{ path('facture') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form.year, {'attr' : {'class' : 'input-small'}}) }}
            {{ form_widget(form.month, {'attr' : {'class' : 'input-small'}}) }}
                <button class="btn btn-primary" type="submit">Afficher</button>
        </form>
    </div>
</table>
    
    {% if pagination|length > 0 %}
        <div class="right">{{ knp_pagination_render(pagination) }}</div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="{% if pagination.isSorted('f.id') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Numéro', 'f.id')|raw }}</th>
                    <th class="{% if pagination.isSorted('f.dateCreation') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Date création', 'f.dateCreation')|raw }}</th>
                    <th class="{% if pagination.isSorted('f.dateValidation') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Date finalisation', 'f.dateValidation')|raw }}</th>
                    <th class="{% if pagination.isSorted('f.client') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Client', 'f.client')|raw }}</th>
                    <th class="{% if pagination.isSorted('articles') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Articles', 'articles')|raw }}</th>
                    <th class="{% if pagination.isSorted('f.montantFactureTTC') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Montant', 'f.montantFactureTTC')|raw }}</th>
                    <th>Actions</th>
                </tr>
            <thead>
            <tbody>
                {% for fact in pagination %}
                    {% set facture = fact[0] %}
                    {% set count = fact['articles'] %}
                    <tr class="{% if facture.valide %}success{% else %}warning{% endif %}">
                        <td><a href="{% if facture.valide %}{{ path('facture_show', {'id': facture.id}) }}{% else %}{{ path('facture_edit', {'id': facture.id}) }}{% endif %}">facture n°{{ facture.id }}</a></td>
                        <td>{{ facture.dateCreation|date('d/m/Y à  H:i')}}</td>
                        <td>{% if facture.dateValidation %}{{ facture.dateValidation|date('d/m/Y à  H:i')}}{% else %}-{% endif %}</td>
                        <td>{% if facture.client|length > 0 %} {{ facture.client.prenom }} {{ facture.client.nom }} {% else %} - {% endif %}</td>
                        <td>{{ count }} articles</td>
                        <td>{{ facture.montantFactureTTC }} €</td>
                        <td class="action_menu width15">
                            <a href="{{ path('facture_show', { 'id': facture.id }) }}"><div class="btn btn-small" title="Consulter la facture"><span class="icon_16 icon_16_view"></span></div></a>
                            {% if not facture.valide %}
                                <a href="{{ path('facture_edit', { 'id': facture.id }) }}"><div class="btn btn-small" title="Modifier le contenu de cette facture"><span class="icon_16 icon_16_notepad_edit"></span></div></a>
                                <a href="{{ path('facture_delete', { 'id': facture.id }) }}"><div class="btn btn-small" title="Supprimer cette facture non finalisée"><span class="icon_16 icon_16_file_delete"></span></div></a>
                            {% else %}
                                <a href="{{ path('facture_rollback', { 'id': facture.id }) }}"><div class="btn btn-small" title="Annuler la finalisation de cette facture"><span class="icon_16 icon_16_undo"></span></div></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="right">{{ knp_pagination_render(pagination) }}</div>
    {% else %}
        Aucune facture trouvée.
    {% endif %}
{% endblock %}