{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1> Liste de toutes les factures</h1>

    {% if factures|length > 0 %}
        {{ factures|length }} factures :

        <ul>
            {% for facture in factures %}
                <li>{{ facture.date|date('d/m/Y à H:i')}} - <a href="{% if facture.valide %}{{ path('facture_show', {'id': facture.id}) }}{% else %}{{ path('facture_edit', {'id': facture.id}) }}{% endif %}">facture n°{{ facture.id }}</a> ({{ facture.factArticles|length }} articles) - {% if facture.valide %}Finalisée{% else %}Non finalisée <a href="{{ path('facture_delete', {'id': facture.id}) }}">Supprimer</a>{% endif %}</li>
            {% endfor %}
        </ul>
        
    {% else %}
        Aucune facture trouvée.
    {% endif %}
{% endblock %}