{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
        <div class="">
            <h3 class="icon_32_before icon_32_next">Facture {{ facture.id }} - Crée le {{ facture.dateCreation|date('d/m/Y à H:i:s') }} {% if facture.valide %}- Validée le {{ facture.dateValidation|date('d/m/Y à H:i:s') }} {% endif %}</h3>

            {% if facture.client|length > 0 %}
                <div class="well">
                    <h4>Client : </h4>
                    <div class="icon_16_before icon_16_sharp">{{ facture.client.id }}</div>
                    <div class="icon_16_before icon_16_user">{{ facture.client.prenom }} {{ facture.client.nom }}</div>
                    <div class="icon_16_before icon_16_contact_email">{{ facture.client.mail }}</div>

                    <div class="icon_16_before icon_16_letter">
                        {{ facture.client.adresseNumero }} {{ facture.client.adresseVoie }}<br />
                        {% if facture.client.adresseComplement|length > 0 %}{{ facture.client.adresseComplement }}<br />{% endif %}
                        {{ facture.client.codePostal }} {{ facture.client.adresseVille }}
                    </div>
                </div>
            {% endif %}
        </div>

    <table class="table table-striped table-bordered top10">
        <tr>
            <th>Code Article</th>
            <th>Nom de l'article</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Montant TTC</th>
        </tr>
        {% if facture.hasFactArticles %}
            {% for fact_article in facture.factArticles %}
                <tr>
                    <td class="center"><a href="{{ path('article_show', {'id' : fact_article.article.id}) }}">{{ fact_article.article.code }}</a></td>
                    <td class="left">{{ fact_article.article.libelle }}</td>
                    <td class="center">{{ fact_article.quantite }}</td>
                    <td class="center">{{ fact_article.getPrixUnitaire }} € / {{ fact_article.article.typeVente.unite }}</td>
                    <td class="center">{{ fact_article.getTotalPrixArticleTTC }} €</td>
                </tr>
            {% endfor %}

            <tr class="success">
                <td class="left" colspan=4>Total HT</td>
                <td class="center">{{ facture.montantFactureHT }} €</td>
            </tr>
            <tr class="success">
                <td class="left" colspan=4>Total TVA</td>
                <td class="center">{{ facture.getTvaTotal }} €</td>
            </tr>
            <tr class="success">
                <td class="left" colspan=4>Total à payer</td>
                <td class="center">{{ facture.montantFactureTTC }} €</td>
            </tr>
        {% else %}
            <tr>
                <td>Cette facture ne contient aucun article.</td>
            </tr>
        {% endif %}
    </table>
    
    <div class="right">
        {% if facture.valide %}
            <a class="btn btn-warning" href="{{ path('facture_rollback', {'id' : facture.id}) }}">Annuler validation</a>
            <a class="btn btn-success" target=_blank href="{{ path('facture_show', {'id' : facture.id, 'type' : 'pdf'}) }}">Imprimer Facture</a>
            <a class="btn btn-success" target=_blank href="{{ path('facture_show', {'id' : facture.id, 'type' : 'ticket'}) }}">Imprimer Ticket</a>
        {% else %}
            <a class="btn btn-warning" href="{{ path('facture_edit', {'id' : facture.id}) }}">Modifier la facture</a>
            <a class="btn btn-success" href="{{ path('facture_commit', {'id': facture.id}) }}">Valider la facture</a>
        {% endif %}
    </div>
{% endblock %}