<li class="facture_article_row" id="{{ fact_article.article.id }}">
    <div class="facture_article_info">
        <div class="article_denomination">{{ fact_article.article.code }} - {{ fact_article.article.libelle }}</div>
        <div class="article_prix_unitaire">{{ fact_article.prixUnitaire }} €</div>
        <div class="multiplicateur"> x </div>
        <div class="facture_article_quantite_form">
            <form action="{{ path('facture_article_update_quantite', {'id_fact_article': fact_article.id}) }}" method="post">
                <input type="text" class="facture_article_quantite_field" name="quantite" value="{{ fact_article.quantite }}" size="5" />
            </form>
        </div>
        <div class="prix_total_ht">{{ fact_article.getArticlePrixTotal }} €</div>
    </div>
    <div class="facture_article_tva">
        <div class="tva_info">TVA {{ fact_article.article.typeTva.libelle }}</div>
        <div class="article_tva">{{ fact_article.getTotalArticleTva }} €</div>
    </div>
</li>