<tr id="{{ fact_article.article.id }}">
    <td class="center"><a href="{{ path('article_show', {'id' : fact_article.article.id}) }}">{{ fact_article.article.code }}</a></td>
    <td class="">{{ fact_article.article.libelle }}</td>
    <td class="center">
        <form class="facture_article_quantite facture-quantite-form" action="{{ path('facture_article_update_quantite', {'id_fact_article': fact_article.id}) }}" method="post">
            <input type="text" class="facture_article_quantite_field input-small" name="quantite" value="{{ fact_article.quantite }}" size="5" />
        </form>
    </td>
    <td class="center">{{ fact_article.getTotalPrixArticleHT|number_format(2, ',', ' ') }} €</td>
    <td class="right">{{ fact_article.getTotalTvaArticle|number_format(2, ',', ' ') }} €</td>
    <td class="right">{{ fact_article.getTotalPrixArticleTTC|number_format(2, ',', ' ') }} €</td>
    <td class="action_menu">
        <div class="btn btn-small" title="Ajouter une remise sur cet article"><span class="icon_16 icon_16_plus"></span></div>
        <a href="{{ path('facture_article_remove', {'id_fact_article': fact_article.id}) }}">
            <div class="btn btn-small" title="Supprimer cet article"><span class="icon_16 icon_16_trash2"></span></div>
        </a>
    </td>
</tr>