<tr class="success">
    <td class="left bold" colspan=5>Total hors taxes</td>
    <td class="right" colspan=2>{{ facture.montantFactureHT|number_format(2, ',', ' ') }} €</td>
</tr>
<tr class="success">
    <td class="left bold" colspan=5>Total TVA</td>
    <td class="right" colspan=2>{{ facture.getTvaTotal|number_format(2, ',', ' ') }} €</td>
</tr>
{% if facture.montantRemise > 0 %}
    <tr class="success">
        <td class="left bold" colspan=5>Total remises</td>
        <td class="right" colspan=2>{{ facture.getMontantRemise|number_format(2, ',', ' ') }} €</td>
    </tr>
    <tr class="success">
        <td class="left bold" colspan=5>Total avant remises</td>
        <td class="right" colspan=2>{{ facture.montantFactureTTC|number_format(2, ',', ' ') }} €</td>
    </tr>
{% endif %}
<tr class="success">
    <td class="left bold" colspan=5>TOTAL A PAYER</td>
    <td class="right" colspan=2>{{ facture.montantAPayer|number_format(2, ',', ' ') }} €</td>
</tr>