<a class="brand" href="{{ path('admin_home') }}">Dame de Quilt</a>
<ul class="nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{ path('article') }}">Liste des articles</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{ path('article_new') }}">Ajouter un article</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{ path('stock_new') }}">Ajouter du stock à un article</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facturation<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li ><a tabindex="-1" href="{{ path('facture_new') }}">Nouvelle facture</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{ path('facture') }}">Toutes les factures</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{ path('client_new') }}">Nouvelle fiche client</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{ path('client') }}">Toutes les fiches client</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fournisseurs<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{ path('fournisseur_new') }}">Nouveau fournisseur</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{ path('fournisseur') }}">Tous les fournisseurs</a></li>
        </ul>
    </li>
    <li>
        <form class="navbar-search pull-right">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span>
                <input type="text" class="" placeholder="Recherche générale">
            </div>
        </form>
    </li>
</ul>