<ul class="nav nav-stacked nav-pills">
    <li class="nav-header">Données configurées</li>
    <li><a href="{{ path('typeTva') }}">Types de TVA</a></li>
    <li><a href="{{ path('typeArticle') }}">Catégories d'articles</a></li>
    <li><a href="{{ path('remise') }}">Configuration remises</a></li>
    <li class="nav-header">Campagnes de remises</li>
    <li><a href="{{ path('campagneremise_new') }}">Nouvelle campagne</a></li>
    <li><a href="{{ path('campagneremise') }}">Campagnes en cours</a></li>
    <li><a href="{{ path('campagneremise') }}">Campagnes terminées</a></li>
</ul>