<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/boutique/css/gestionStock_main.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/boutique/css/css/bootstrap.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/boutique/css/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/boutique/js/libs/jquery-ui-1.9.0.custom/css/smoothness/jquery-ui-1.9.0.custom.css') }}" type="text/css" media="all" />
        {% endblock %}
        {% block javascripts_libs %}
            <script type="text/javascript" src="{{ asset('bundles/boutique/js/libs/jquery-1.8.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/boutique/js/libs/jquery-ui-1.9.0.custom/js/jquery-ui-1.9.0.custom.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/boutique/js/libs/jquery.forms.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/boutique/js/bundles/gestionStock_main.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/boutique/css/js/bootstrap.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container-fluid">
                <div class="navbar navbar-inner">
                    {% include '::_navigation.html.twig' %}
                </div>
                <div class="row-fluid">
                    <div class="span12 main-container">
                        <div>{% block content %}{% endblock %}</div>
                    </div>
                </div>
            </div>
        {% endblock %}
        
        <footer class="">
            <p class="center">La dame de Quilt - 2012</p>
        </footer>    
            
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/boutique/js/bundles/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
