<table class="table table-bordered">
    <tr>
        <th class="blue center" colspan=2>Informations générales</th>
    </tr>
    <tr>
        <th class="width30 left">Nom</th>
        <td class="">{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
        <th class="width30 left">Prenom</th>
        <td class="">{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
        <th class="width30 left">Date de naissance</th>
        <td class="">{{ form_widget(form.dateNaissance) }}</td>
    </tr>
    <tr>
        <th class="width30 left">N° de téléphone</th>
        <td class="">{{ form_widget(form.telephone) }}</td>
    </tr>
    <tr>
        <th class="width30 left">Adresse mail</th>
        <td class="phone_event">{{ form_widget(form.mail) }}</td>
    </tr>
    <tr>
        <th class="blue center" colspan=2>Adresse</th>
    </tr>
    <tr>
        <th class="width30 left">Numéro de voie</th>
        <td class="">{{ form_widget(form.adresseNumero) }}</td>
    </tr>
    <tr>
        <th class="width30 left">Nom de la voie</th>
        <td class="">{{ form_widget(form.adresseVoie) }}</td>
    </tr>
    <tr>
        <th class="width30 left">Complément</th>
        <td class="">{{ form_widget(form.adresseComplement) }}</td>
    </tr>
    <tr>
        <th class="width30 left">Code Postal</th>
        <td class="">{{ form_widget(form.codePostal) }}</td>
    </tr>
    <tr>
        <th class="width30 left">Ville</th>
        <td class="">{{ form_widget(form.adresseVille) }}</td>
    </tr>
</table>
{{ form_rest(form) }}