<table class="table table-bordered">
    <tr>
        <th class="blue center" colspan=2>Informations générales</th>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Nom</th>
        <td class="">{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Prenom</th>
        <td class="">{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Date de naissance</th>
        <td class="">{{ form_widget(form.dateNaissance) }}</td>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Adresse mail</th>
        <td class="">{{ form_widget(form.mail) }}</td>
    </tr>
    <tr>
        <th class="blue center" colspan=2>Adresse</th>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Numéro de voie</th>
        <td class="">{{ form_widget(form.adresseNumero) }}</td>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Nom de la voie</th>
        <td class="">{{ form_widget(form.adresseVoie) }}</td>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Complément</th>
        <td class="">{{ form_widget(form.adresseComplement) }}</td>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Code Postal</th>
        <td class="">{{ form_widget(form.codePostal) }}</td>
    </tr>
    <tr>
        <th class="width30 left" width="40%">Ville</th>
        <td class="">{{ form_widget(form.adresseVille) }}</td>
    </tr>
</table>
{{ form_rest(form) }}