{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1>Liste des fiches client</h1>

    <a href="{{ path('client_new') }}">Ajouter un client</a>
    
    <table class="ui-widget">
        <thead>
            <tr>
                <th class="ui-widget-header {% if pagination.isSorted('c.nom') %}sorted{% endif %}">{{ pagination.sortable('Nom Prénom', 'c.nom')|raw }}</th>
                <th class="ui-widget-header {% if pagination.isSorted('c.mail') %}sorted{% endif %}">{{ pagination.sortable('Mail', 'c.mail')|raw }}</th>
                <th class="ui-widget-header {% if pagination.isSorted('c.dateNaissance') %}sorted{% endif %}">{{ pagination.sortable('Date naissance', 'c.dateNaissance')|raw }}</th>
                <th class="ui-widget-header">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in pagination %}
            <tr>
                <td class="ui-widget-content bold"><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.prenom }} {{ client.nom }}</a></td>
                <td class="ui-widget-content center">{{ client.mail }}</td>
                <td class="ui-widget-content center">{{ client.dateNaissance|date('d/m/Y') }}</td>
                <td class="ui-widget-content action_menu">
                    <a href="{{ path('client_show', { 'id': client.id }) }}"><div class="ui-menu-icon icon_16 icon_16_view" title="Voir la fiche client"></div></a>
                    <a href="{{ path('client_edit', { 'id': client.id }) }}"><div class="ui-menu-icon icon_16 icon_16_notepad_edit" title="Modifier les informations du client"></div></a>
                    <a href="{{ path('client_edit', { 'id': client.id }) }}"><div class="ui-menu-icon icon_16 icon_16_trash2" title="Supprimer le client"></div></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}