{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1>Client</h1>

    <table class="ui-widget">
        <tbody>
            <tr>
                <th class="ui-widget-header width40">Numéro client</th>
                <td class="ui-widget-content">{{ client.id }}</td>
            </tr>
            <tr>
                <th class="ui-widget-header width40">Identité</th>
                <td class="ui-widget-content">{{ client.prenom }} {{ client.nom }}</td>
            </tr>
            <tr>
                <th class="ui-widget-header width40">Date de naissance</th>
                <td class="ui-widget-content">{{ client.dateNaissance|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th class="ui-widget-header width40">e-mail</th>
                <td class="ui-widget-content">{{ client.mail }}</td>
            </tr>
            <tr>
                <th class="ui-widget-header width40">Adresse</th>
                <td class="ui-widget-content">
                    {{ client.adresseNumero }} {{ client.adresseVoie }}<br />
                    {% if client.adresseComplement|length > 0 %}{{ client.adresseComplement }}<br />{% endif %}
                    {{ client.codePostal }} {{ client.adresseVille }}
                </td>
            </tr>
            <tr>
                <th class="ui-widget-header width40">Date de création de la fiche</th>
                <td class="ui-widget-content">{{ client.dateCreation|date('d/m/Y à H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <a href="{{ path('client') }}">Retour</a> |
        <a href="{{ path('client_edit', { 'id': client.id }) }}">Modifier</a> | 
        <a href="#">Supprimer</a>
    </ul>
{% endblock %}