{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1>Client</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numéro client</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Identité</th>
                <td>{{ client.prenom }} {{ client.nom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ client.dateNaissance|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>e-mail</th>
                <td>{{ client.mail }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>
                    {{ client.adresseNumero }} {{ client.adresseVoie }}<br />
                    {% if client.adresseComplement|length > 0 %}{{ client.adresseComplement }}<br />{% endif %}
                    {{ client.codePostal }}<br />
                    {{ client.adresseVille }}
                </td>
            </tr>
            <tr>
                <th>Date de création de la fiche</th>
                <td>{{ client.dateCreation|date('d/m/Y à H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('client') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Modifier</a>
        </li>
        <li>
            <form action="{{ path('client_delete', { 'id': client.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Supprimer</button>
            </form>
        </li>
    </ul>
{% endblock %}