<h3>Articles trouvés</h3>

{% if articles|length > 0 %}
    <table class="ui-widget">
        <thead>
            <tr>
                <th class="ui-widget-header">Code</th>
                <th class="ui-widget-header">Libellé</th>
                <th class="ui-widget-header">Prix de vente</th>
                <th class="ui-widget-header">Quantité</th>
                <th class="ui-widget-header">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="ui-widget-content article_code">{{ article.code }}</td>
                <td class="ui-widget-content article_libelle">{{ article.libelle }}</td>
                <td class="ui-widget-content article_prixVente">{{ article.prixVente }}</td>
                <td class="ui-widget-content article_quantite">{{ article.articleStock.quantite }}</td>
                <td class="ui-widget-content action_menu" id="{{ article.id }}">
                    <a class="select_restock_link" href="{{ path('stock_add', {'id_article': article.id, 'ajax': true}) }}">
                        <div class="icon_16 icon_16_plus" title="Sélectionner cet article"></div>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun article correspondant à votre recherche a été trouvé.
{% endif %}