<tr id="{{ inv_article.article.id }}">
    <td class="center"><a href="{{ path('article_show', {'id' : inv_article.article.id}) }}">{{ inv_article.article.code }}</a></td>
    <td class="">{{ inv_article.article.libelle }}</td>
    <td class="">{{ inv_article.prixUnitaire }} €</td>
    <td class="right">{{ inv_article.quantiteEstim }}</td>
    <td class="center">
        <form class="inventaire_article_quantite inventaire-quantite-form" action="{{ path('inventaire_article_update_quantite', {'id': inv_article.id}) }}" method="post">
            <input type="text" class="inventaire_article_quantite_field input-small" name="quantite" value="{{ inv_article.quantiteReelle }}" size="5" />
        </form>
    </td>
</tr>