<h3>Données générales de l'inventaire</h3>

<table class="table table-bordered">
    <tr>
        <th class="width30">Inventaire débuté le : </th>
        <td>{{ inventaire.dateCreation|date('d/m/Y à H:i') }}</td>
    </tr>
    <tr>
        <th class="width30">Inventaire clos : </th>
        <td>{% if inventaire.cloture %}Le {{ inventaire.dateCloture|date('d/m/Y à H:i') }}{% else %}Non clos{% endif %}</td>
    </tr>
    {% if inventaire.cloture %}
        <tr>
            <th>Valeur HT du stock : </th>
            <td>{{ inventaire.valeurStock }} €</td>
        </tr>
        <tr>
            <th>Valeur HT des pertes estimées : </th>
            <td>{{ inventaire.valeurPerteEstim }} €</td>
        </tr>
    {% endif %}
</table>


<div class="right">
    {% if inventaire.cloture %}
        <a class="btn btn-info" target=_blank href="{{ path('inventaire_print', {'id' : inventaire.id}) }}">Imprimer l'inventaire</a>
    {% else %}
        <a class="btn btn-info" target=_blank href="{{ path('inventaire_print_form', {'id' : inventaire.id}) }}">Imprimer formulaire</a>
        <a id="inventaire_cloture" class="btn btn-success" href="{{ path('inventaire_clore', {'id' : inventaire.id}) }}">Finaliser l'inventaire</a>
    {% endif %}
    <a class="btn" href="{{ path('inventaire') }}">Retour</a>
</div>
