{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    {% include 'BoutiqueGestionStockBundle:Inventaire:_summary.html.twig' with {'inventaire' : inventaire} %}

    <h3>Détail de l'inventaire</h3>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="">Libellé</th>
                <th class="">Prix HT</th>
                <th class="">Quantité</th>
                <th class="">Valeur HT</th>
            </tr>
        </thead>

        <tbody>
        {% for inv_divers in inventaire.invDivers %}
            <tr>
                <td class="center">{{ inv_divers.libelle }}</td>
                <td class="right">{{ inv_divers.prixUnitaire }} €</td>
                <td class="center">{{ inv_divers.quantite }}</td>
                <td class="center">{{ inv_divers.getValeur }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="right">{{ knp_pagination_render(pagination) }}</div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="">Code</th>
                <th class="">Libellé</th>
                <th class="">Prix HT</th>
                <th class="">Quantité estimée</th>
                <th class="">Quantité réelle</th>
                <th class="">Erreur</th>
                <th class="">Valeur HT</th>
                <th class="">Perte HT</th>
            </tr>
        </thead>

        <tbody>
        {% for inv_article in pagination %}
            <tr>
                <td class="bold center">{{ inv_article.article.code }}</td>
                <td class="center">{{ inv_article.article.libelle }}</td>
                <td class="right">{{ inv_article.prixUnitaire }} €</td>
                <td class="center">{{ inv_article.quantiteEstim }}</td>
                <td class="center">{% if inv_article.quantiteReelle is null %}{{ inv_article.quantiteEstim }}{% else %}{{ inv_article.quantiteReelle }}{% endif %}</td>
                <td class="center">{% if inv_article.hasError %}{% if inv_article.getError > 0%} +{% endif %}{{ inv_article.getError }}{% endif %}</td>
                <td class="center">{{ inv_article.getValeur }} €</td>
                <td class="center">{% if inv_article.hasError %}{% if inv_article.getError < 0 %}{{ inv_article.getPerte }} €{% endif %}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="right">{{ knp_pagination_render(pagination) }}</div>

{% endblock %}