{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    <h1>Liste des articles</h1>

    <a href="{{ path('article_new') }}" class="ui-menu"><span class="icon_16 icon_16_plus"></span>Ajouter un article</a>
    
    <table class="ui-widget">
        <thead>
            <tr>
                <th class="ui-widget-header">Code</th>
                <th class="ui-widget-header">Ref. fournisseur</th>
                <th class="ui-widget-header">Libellé</th>
                <th class="ui-widget-header">Prix TTC</th>
                <th class="ui-widget-header">Stock</th>
                <th class="ui-widget-header">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="ui-widget-content"><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.code }}</a></td>
                <td class="ui-widget-content">{{ article.codeFournisseur }}</td>
                <td class="ui-widget-content">{{ article.libelle }}</td>
                <td class="ui-widget-content">{{ article.getPrixTTC }} €</td>
                <td class="ui-widget-content">{{ article.articleStock.quantite }} {{ article.typeVente.unite }}(s)</td>
                <td class="ui-widget-content action_menu">
                    <a href="{{ path('article_show', { 'id': article.id }) }}"><div class="ui-menu-icon icon_16 icon_16_view" title="Voir les détails de l'article"></div></a>
                    <a href="{{ path('article_edit', { 'id': article.id }) }}"><div class="ui-menu-icon icon_16 icon_16_notepad_edit" title="Modifier les informations de l'article"></div></a>
                    <a href="{{ path('stock_add', { 'id_article': article.id }) }}"><div class="ui-menu-icon icon_16 icon_16_database_add" title="Ajouter du stock pour cet article"></div></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


