{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    <h3>Liste des articles</h3>

    <a href="{{ path('article_new') }}" class="btn btn-success"><span class="icon_16 icon_16_plus"></span>Ajouter un article</a>
        
    <div class="right">{{ pagination.render()|raw }}</div>
    
    <table class="table table-striped table-bordered">
        
        <thead>
            <tr>
                <th class="{% if pagination.isSorted('a.code') %}sorted{% endif %}">{{ pagination.sortable('Code', 'a.code')|raw }}</th>
                <th class="{% if pagination.isSorted('a.codeFournisseur') %}sorted{% endif %}">{{ pagination.sortable('Ref. fournisseur', 'a.codeFournisseur')|raw }}</th>
                <th class="{% if pagination.isSorted('a.libelle') %}sorted{% endif %}">{{ pagination.sortable('Libellé', 'a.libelle')|raw }}</th>
                <th class="{% if pagination.isSorted('a.prixVente') %}sorted{% endif %}">{{ pagination.sortable('Prix HT', 'a.prixVente')|raw }}</th>
                <th class="{% if pagination.isSorted('a.prixVente') %}sorted{% endif %}">{{ pagination.sortable('Prix TTC', 'a.prixVente')|raw }}</th>
                <th class="">Stock</th>
                <th class="">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <td class="bold center"><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.code }}</a></td>
                <td class="">{{ article.codeFournisseur }}</td>
                <td class="">{{ article.libelle }}</td>
                <td class="center">{{ article.getPrixHT }} €</td>
                <td class="center">{{ article.prixVente }} €</td>
                <td class="center">{{ article.articleStock.quantite }} {{ article.typeVente.unite }}(s)</td>
                <td class="action_menu">
                    <a href="{{ path('article_show', { 'id': article.id }) }}"><div class="btn btn-small" title="Voir les détails de l'article"><span class="ui-menu-icon icon_16 icon_16_view"></span></div></a>
                    <a href="{{ path('article_edit', { 'id': article.id }) }}"><div class="btn btn-small" title="Modifier les informations de l'article"><span class="ui-menu-icon icon_16 icon_16_notepad_edit"></span></div></a>
                    <a href="{{ path('stock_add', { 'id_article': article.id }) }}"><div class="btn btn-small" title="Ajouter du stock pour cet article"><span class="ui-menu-icon icon_16 icon_16_database_add"></span></div></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="right">{{ pagination.render()|raw }}</div>
{% endblock %}