{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    <h3>Détails de l'article</h3>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="width30">Code article</th>
                <td class="">{{ article.code }}</td>
            </tr>
            <tr>
                <th class="width30">Code fournisseur</th>
                <td class="">{{ article.codeFournisseur }}</td>
            </tr>
            <tr>
                <th class="width30">Nom de l'article</th>
                <td class="">{{ article.libelle }}</td>
            </tr>
            <tr>
                <th class="width30">Type de vente</th>
                <td class="">{{ article.typeVente.libelle }}</td>
            </tr>
            <tr>
                <th class="width30">Fournisseur</th>
                <td class=""><a href="{{ path('fournisseur_show', {'id' : article.fournisseur.id}) }}">{{ article.fournisseur }}</a></td>
            </tr>
            <tr>
                <th class="width30">Description</th>
                <td class="">{% if article.description|length > 0 %}{{ article.description }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <th class="width30">Prix moyen d'achat</th>
                <td class="">{{ article.getPrixAchatMoyenHT|number_format(2, ',', ' ') }} € ({{ article.getPrixAchatMoyenTTC }} € TTC)</td>
            </tr>
            <tr>
                <th class="width30">Prix TTC</th>
                <td class="">{{ article.prixVente|number_format(2, ',', ' ') }} €</td>
            </tr>
            <tr>
                <th class="width30">Quantité restante</th>
                <td class="">{{ article.articleStock.quantite }} {{article.typeVente.unite}}(s)</td>
            </tr>
        </tbody>
    </table>

    <div class="right">
        <a class="btn" href="{{ path('article') }}">Annuler</a>
        <a class="btn btn-warning" href="{{ path('article_edit', { 'id': article.id }) }}">Modifier article</a>
        <a class="btn btn-success" href="{{ path('stock_new', { 'id_article': article.id }) }}">Ajouter du stock</a>
    </div>
    
    <br />
    
    <h3>Informations de stock</h3>
    <table class="table table-bordered">
       {% include 'BoutiqueGestionStockBundle:Stock:_list.html.twig' with {'article': article, 'stocks': article.stocks} %}
    </table>
    <br />
    <!--<a href="{{ path('article_delete', { 'id': article.id }) }}">Supprimer</a>-->

    <h3>Détail des ventes de cet article</h3>
    <table class="table table-bordered">
        <tr>
            <th>Date</th>
            <th>Facture</th>
            <th>Client</th>
            <th>Quantité</th>
        </tr>
        {% if ventes|length > 0 %}
            {% for vente in ventes %}
                <tr>
                    <td class="width25">{{ vente.dateValidation|date('d/m/Y à H:i:s') }}</td>
                    <td class="width25"><a href="{{ path('facture_show', {'id' : vente.facture_id})}}">{{ vente.facture_id }}</a></td>
                    <td class="width25">{% if vente.client_id is not null %}<a href="{{ path('facture_show', {'id' : vente.client_id})}}">{{ vente.prenom }} {{ vente.nom }}</a>{% else %} - {% endif %}</td>
                    <td class="width25">{{ vente.quantite }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan=4>Aucune vente n'a été effectuée sur cet article.</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}