{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    <h1>Article</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Code article</th>
                <td>{{ article.code }}</td>
            </tr>
            <tr>
                <th>Code fournisseur</th>
                <td>{{ article.codeFournisseur }}</td>
            </tr>
            <tr>
                <th>Nom de l'article</th>
                <td>{{ article.libelle }}</td>
            </tr>
            <tr>
                <th>Type de vente</th>
                <td>{{ article.typeVente.libelle }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ article.fournisseur }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Prix de vente</th>
                <td>{{ article.prixVente }}</td>
            </tr>
            <tr>
                <th>Quantité restante</th>
                <td>{{ article.articleStock.quantite }}</td>
            </tr>
            <tr>
                <th>Entrées de stock</th>
                <td>
                    <ul id="stock_list">
                    {% for stock in article.stocks %}
                        <li>{{ stock.dateEntree|date("d/m/Y") }} : Ajout de {{ stock.quantite }} entrées ({{ stock.prixAchat }} €/unité)</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('article') }}">Annuler</a> | 
    <a href="{{ path('article_edit', { 'id': article.id }) }}">Modifier article</a> |
    <a href="{{ path('stock_add', { 'id_article': article.id }) }}">Ajouter du stock</a>
    <!--<a href="{{ path('article_delete', { 'id': article.id }) }}">Supprimer</a>-->

{% endblock %}