{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}

    <h3 class="icon_32_before icon_32_next">Article</h3>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="width30">Code article</th>
                <td class="">{{ article.code }}</td>
            </tr>
            <tr>
                <th class="width30">Code fournisseur</th>
                <td class="">{{ article.codeFournisseur }}</td>
            </tr>
            <tr>
                <th class="width30">Nom de l'article</th>
                <td class="">{{ article.libelle }}</td>
            </tr>
            <tr>
                <th class="width30">Type de vente</th>
                <td class="">{{ article.typeVente.libelle }}</td>
            </tr>
            <tr>
                <th class="width30">Fournisseur</th>
                <td class=""><a href="{{ path('fournisseur_show', {'id' : article.fournisseur.id}) }}">{{ article.fournisseur }}</a></td>
            </tr>
            <tr>
                <th class="width30">Description</th>
                <td class="">{% if article.description|length > 0 %}{{ article.description }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <th class="width30">Prix moyen d'achat</th>
                <td class="">{{ article.getPrixAchatMoyenHT }} € ({{ article.getPrixAchatMoyenTTC }} € TTC)</td>
            </tr>
            <tr>
                <th class="width30">Prix TTC</th>
                <td class="">{{ article.prixVente }} €</td>
            </tr>
            <tr>
                <th class="width30">Quantité restante</th>
                <td class="">{{ article.articleStock.quantite }} {{article.typeVente.unite}}(s)</td>
            </tr>
        </tbody>
    </table>

    <div class="right">
        <a class="btn" href="{{ path('article') }}">Annuler</a>
        <a class="btn btn-warning" href="{{ path('article_edit', { 'id': article.id }) }}">Modifier article</a>
        <a class="btn btn-success" href="{{ path('stock_new', { 'id_article': article.id }) }}">Ajouter du stock</a>
    </div>
    
    <br />
    
    <table class="table table-bordered">
        <tr>
            <th class="center" colspan=2>Entrées de stock</th>
        </tr>
       {% include 'BoutiqueGestionStockBundle:Stock:_list.html.twig' with {'article': article, 'stocks': article.stocks} %}
    </table>
    
    <!--<a href="{{ path('article_delete', { 'id': article.id }) }}">Supprimer</a>-->

{% endblock %}