
    {% if form.get('errors') is not empty %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form_errors(form) }}
        </div>
    {% endif %}
    
    <table class="table table-bordered">
        <tr class="">
            <td class="width30">{{ form_label(form.quantite) }}</td>
            <td>{{ form_widget(form.quantite, { 'attr' : {'class' : 'input-small'}}) }}</td>
        </tr>
        <tr class="">
            <td class="width30">{{ form_label(form.prixAchat) }}</td>
            <td>{{ form_widget(form.prixAchat, { 'attr' : {'class' : 'input-small'}}) }}</td>
        </tr>
        <tr class="">
            <td class="width30">{{ form_label(form.delottage) }}</td>
            <td>{{ form_widget(form.delottage, { 'attr' : {'class' : 'input-small'}}) }} Oui</td>
        </tr>
        {% if edit %}
            <tr class="">
                <td class="width30">{{ form_label(form.commentaire) }}</td>
                <td>{{ form_widget(form.commentaire) }}</td>
            </tr>
        {% endif %}
        {{ form_rest(form) }}
    </table>