{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

    {% block content %}
        <h1>Ajouter une entrée de stock à l'article "{{ article.code }} - {{ article.libelle }}"</h1>

        <form class="form-horizontal well" action="{{ path('stock_create') }}" method="post" {{ form_enctype(form) }}>
            <input type="hidden" name="boutique_databasebundle_stocktype[idArticle]" id="boutique_databasebundle_stocktype_idArticle" value="{{ article.id }}"/>

            {{ form_errors(form) }}
            
            <div class="control-group">
                <label class="control-label">{{ form_label(form.quantite) }}</label>
                {{ form_widget(form.quantite, { 'attr' : {'class' : 'input-small'}}) }}
            </div>
            <div class="control-group">
                <label class="control-label">{{ form_label(form.prixAchat) }}</label>
                {{ form_widget(form.prixAchat, { 'attr' : {'class' : 'input-small'}}) }}
            </div>
            <div class="control-group">
                <label class="control-label">{{ form_label(form.delottage) }}</label>
                {{ form_widget(form.delottage, { 'attr' : {'class' : 'input-small'}}) }} Oui
            </div>
            
            {{ form_rest(form) }}

            <div class="right">
                <a class="btn btn-danger" href="{{ path('article_show', {'id': article.id }) }}">Annuler</a>
                <button class="btn btn-success" type="submit">Ajouter</button>
            </div>
        </form>

        
{% endblock %}