<div id="client_search_results">
    {% if clients|length > 0 %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="">Numéro</th>
                    <th class="">Nom Prénom</th>
                    <th class="">Date de naissance</th>
                    <th class="">Mail</th>
                    <th class="">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td class="client_id">{{ client.id }}</td>
                    <td class="client_nom">{{ client.nom }} {{ client.prenom }}</td>
                    <td class="client_date_naissance">{{ client.dateNaissance|date('d/m/Y') }}</td>
                    <td class="client_mail">{{ client.mail }}</td>
                    <td class="action_menu"id="{{ client.id }}">
                        <a class="select_facture_client_link" href="{{ path('facturation_client_add', {'id_facture': facture.id, 'id_client': client.id}) }}">
                            <div class=" btn btn-small" title="Sélectionner ce client"><span class="icon_16 icon_16_plus"></span></div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="label label-info">Aucun client correspondant à votre recherche n'a été trouvé.</div>
    {% endif %}
</div>