{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1>Liste des fournisseurs</h1>

    <a href="{{ path('fournisseur_new') }}">Nouveau fournisseur</a>

    <table class="ui-widget">
        <thead>
            <tr>
                <th class="ui-widget-header">Nom</th>
                <th class="ui-widget-header">SIREN</th>
                <th class="ui-widget-header">Téléphone</th>
                <th class="ui-widget-header">Actions</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td class="ui-widget-content"><a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ fournisseur.nom }}</a></td>
                <td class="ui-widget-content">{{ fournisseur.siren }}</td>
                <td class="ui-widget-content">{{ fournisseur.telephone }}</td>
                <td class="ui-widget-content action_menu">
                    <a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}"><div class="icon_16 icon_16_view" title="Détails du fournisseur"></div></a>
                    <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}"><div class="icon_16 icon_16_notepad_edit" title="Modifier les informations du fournisseur"></div></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}