{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h3 class="icon_32_before icon_32_next">Liste des fournisseurs</h3>

    <a href="{{ path('fournisseur_new') }}" class="btn btn-success"><span class="icon_16 icon_16_plus"></span>Ajouter un fournisseur</a>
    <br /><br />
    
    <div class="right">{{ knp_pagination_render(pagination) }}</div>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="{% if pagination.isSorted('f.nom') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Raison sociale', 'f.nom')|raw }}</th>
                <th class="{% if pagination.isSorted('f.siren') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'SIREN', 'f.siren')|raw }}</th>
                <th class="{% if pagination.isSorted('f.telephone') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'Téléphone', 'f.telephone')|raw }}</th>
                <th class="">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in pagination %}
            <tr>
                <td class="bold"><a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ fournisseur.nom }}</a></td>
                <td class="center">{{ fournisseur.siren }}</td>
                <td class="center">{{ fournisseur.telephone }}</td>
                <td class="action_menu width15">
                    <a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}"><div class="btn btn-small" title="Consulter la fiche fournisseur"><span class="icon_16 icon_16_view"></span></div></a>
                    <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}"><div class="btn btn-small" title="Modifier les informations du fournisseur"><span class="icon_16 icon_16_notepad_edit"></span></div></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="right">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}