{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h3 class="icon_32_before icon_32_next">Fournisseur</h3>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="width30">Identifiant</th>
                <td class="">{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th class="width30">Nom</th>
                <td class="">{{ fournisseur.nom }}</td>
            </tr>
            <tr>
                <th class="width30">SIREN</th>
                <td class="">{{ fournisseur.siren }}</td>
            </tr>
            <tr>
                <th class="width30">N° Téléphone</th>
                <td class="">{{ fournisseur.telephone|phone_format }}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="right">
        <a class="btn btn-info" href="{{ path('fournisseur') }}">Retour</a>
        <a class="btn btn-warning" href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path('fournisseur_delete', { 'id': fournisseur.id }) }}" method="post">Supprimer</a>
    </div>
    
    <h3 class="icon_32_before icon_32_next">Articles de ce fournisseur</h3>
    
    <div class="right">{{ knp_pagination_render(pagination) }}</div>
    
    <table class="table table-bordered table-striped">
        <tr>
            <th class="{% if pagination.isSorted('a.code') %}sorted{% endif %} center">{{ knp_pagination_sortable(pagination, 'Code', 'a.code') }}</th>
            <th class="{% if pagination.isSorted('a.codeFournisseur') %}sorted{% endif %} center">{{ knp_pagination_sortable(pagination, 'Ref. fournisseur', 'a.codeFournisseur') }}</th>
            <th class="{% if pagination.isSorted('a.libelle') %}sorted{% endif %} center">{{ knp_pagination_sortable(pagination, 'Libellé', 'a.libelle') }}</th>
            <th class="center">Actions</th>
        </tr>
        {% if pagination|length > 0 %}
            {% for article in pagination %}
                <tr>
                    <td><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.code }}</a></td>
                    <td>{{ article.codeFournisseur }}</td>
                    <td>{{ article.libelle }}</td>
                    <td class="action_menu">
                        <a href="{{ path('article_show', { 'id': article.id }) }}"><div class="btn btn-small" title="Voir les détails de l'article"><span class="ui-menu-icon icon_16 icon_16_view"></span></div></a>
                        <a href="{{ path('article_edit', { 'id': article.id }) }}"><div class="btn btn-small" title="Modifier les informations de l'article"><span class="ui-menu-icon icon_16 icon_16_notepad_edit"></span></div></a>
                        <a href="{{ path('stock_add', { 'id_article': article.id }) }}"><div class="btn btn-small" title="Ajouter du stock pour cet article"><span class="ui-menu-icon icon_16 icon_16_database_add"></span></div></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr><td colspan=4 class="center">Aucun article en stock de ce fournisseur</td></tr>
        {% endif %}
    </table>
    
    <div class="right">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}