{% extends "BoutiqueGestionStockBundle::layout.html.twig" %}

{% block content %}
    <h1>Fournisseur</h1>

    <table class="ui-widget">
        <tbody>
            <tr>
                <th class="ui-widget-header">Identifiant</th>
                <td class="ui-widget-content">{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th class="ui-widget-header">Nom</th>
                <td class="ui-widget-content">{{ fournisseur.nom }}</td>
            </tr>
            <tr>
                <th class="ui-widget-header">SIREN</th>
                <td class="ui-widget-content">{{ fournisseur.siren }}</td>
            </tr>
            <tr>
                <th class="ui-widget-header">N° Téléphone</th>
                <td class="ui-widget-content">{{ fournisseur.telephone }}</td>
            </tr>
            <tr>
                <th class="ui-widget-header" colspan=2>Liste des articles du fournisseur</th>
            </tr>
            <tr>
                <td class="ui-widget-content" colspan=2>
                    {% if fournisseur.articles|length > 0 %}
                        <ul>
                            {% for article in fournisseur.articles %}
                                <li><a href="{{ path('article_show', {'id': article.id}) }}">{{ article.code }} - {{ article.libelle }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('fournisseur') }}">Retour</a>
    <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">Modifier</a>
    <a href="{{ path('fournisseur_delete', { 'id': fournisseur.id }) }}" method="post">Supprimer</a>
{% endblock %}