{% extends "BoutiqueDatabaseBundle::layout.html.twig" %}

{% block content %}

    <h1>Ajouter une entrée de stock à l'article "{{ article.code }} - {{ article.libelle }}"</h1>

    Rechercher un article : 
    <form id="search_article_form" action="{{ path('article_search') }}" method="post" {{ form_enctype(form) }}>
        <input id="search_article_field" type='text' name='search_article' >
    </form>

    <div id="search_results"></div>

    <form action="{{ path('stock_create', {id_article: article.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form.quantite) }}
        {{ form_widget(form.prix_achat) }}
        {{ form_widget(form.delottage) }}

        <button type="submit">Ajouter</button>
    </form>

    <a href="{{ path('article') }}">Annuler</a>

{% endblock %}